:root {
  --firstcolor: #07b464;
  --secondcolor: #ebfcf4;
  --hover: #018f4d;
  --dark-text: #2c2c2c;
  --white: #fff;
  --grey: #ededed;
}

html,
body {
  font-family: "Athiti", sans-serif;
  font-style: normal;
  background-color: #b1e5d3;
}

.frame {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  max-width: 1064.38px;
  height: 756.89px;
  padding-left: 20px;
  background-color: var(--secondcolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.125), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  padding: 80px;
  width: 532px;
  height: 100%;
  background: var(--white);
  border-radius: 51.74px 0px 0px 51.74px;
}

.form {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.input {
  width: 328.92px;
  height: 41.39px;
  border: 1.4783px solid rgba(11, 70, 84, 0.25);
  box-sizing: border-box;
  border-radius: 5.91319px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 17.7396px;
}

.input:focus {
  border-color: var(--firstcolor);
  box-shadow: 0 0 6px 0 var(--firstcolor);
}

.button {
  width: 328.92px;
  height: 41.39px;
  color: var(--white);
  background: var(--firstcolor);
  box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25),
    inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25),
    inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
  border-radius: 11.8264px;
  border-style: none;
  margin-top: 20px;
}

.sign-up {
  color: rgba(0, 0, 0, 0.5);
  a {
    font-weight: 500;
    font-size: 17.7396px;
    line-height: 28px;
    color: #07b464;
    text-decoration: none;
  }
}

h1 {
  font-weight: 600;
  font-size: 29.566px;
  line-height: 47px;
  color: #0b4654;
}

.laber {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.inputWithIcon input {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
  a {
    justify-content: flex-end;
    position: absolute;
    right: 32px;
  }
}

.bi {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 8px;
  top: 20px;

  .bi-eye-slash-fill {
    background-color: antiquewhite;
    position: relative;
    display: flex;
    transform: translateX(30px);
    justify-content: flex-end;
  }
}

@media (orientation: portrait) {
  html,
  body {
    background-color: white;
  }

  .frame {
    background: none;
    border-style: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .login {
      min-width: 532px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      padding: 0;

      h1 {
        justify-content: center;
      }
    }

    .form {
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
    }
  }
}
